<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <h1>{{screamIt welcomeMessage}}</h1>
  <p>
    <h1>my hobbies are:</h1>
    <ul>
      {{#each likes}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

  </p>

  {{> footer}}
</body>
</html>
