<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <p>
    <h1>my projects are:</h1>
    <ul>
      <li>NodeServer</li>
    </ul>
  </p>
  {{> footer}}
</body>
</html>
